// This file was auto-generated by Fern from our API Definition.

import * as ArtiqhttpApi from "./api/index.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace ArtiqhttpApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArtiqhttpApiClient {
    protected readonly _options: NormalizedClientOptions<ArtiqhttpApiClient.Options>;

    constructor(options: ArtiqhttpApiClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rootApiGet()
     */
    public rootApiGet(requestOptions?: ArtiqhttpApiClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__rootApiGet(requestOptions));
    }

    private async __rootApiGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/");
    }

    /**
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getScheduleApiScheduleGet()
     */
    public getScheduleApiScheduleGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, ArtiqhttpApi.ScheduleItem>> {
        return core.HttpResponsePromise.fromPromise(this.__getScheduleApiScheduleGet(requestOptions));
    }

    private async __getScheduleApiScheduleGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, ArtiqhttpApi.ScheduleItem>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/schedule",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, ArtiqhttpApi.ScheduleItem>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/schedule");
    }

    /**
     * @param {ArtiqhttpApi.SubmitExperimentApiSchedulePostRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.submitExperimentApiSchedulePost({
     *         body: {
     *             file: "file",
     *             class_name: "class_name"
     *         }
     *     })
     */
    public submitExperimentApiSchedulePost(
        request: ArtiqhttpApi.SubmitExperimentApiSchedulePostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__submitExperimentApiSchedulePost(request, requestOptions));
    }

    private async __submitExperimentApiSchedulePost(
        request: ArtiqhttpApi.SubmitExperimentApiSchedulePostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { pipeline, priority, flush, due_date: dueDate, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            pipeline,
            priority,
            flush,
            due_date: dueDate,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/schedule",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/schedule");
    }

    /**
     * Get the current device_db
     *
     * Returns:
     *     dict: ARTIQ Device_DB
     *
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getDevicesApiDevicesGet()
     */
    public getDevicesApiDevicesGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getDevicesApiDevicesGet(requestOptions));
    }

    private async __getDevicesApiDevicesGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/devices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/devices");
    }

    /**
     * Get all existing ARTIQ datasets
     *
     * This method might return a large output
     *
     * Returns:
     *     dict: All broadcasted ARTIQ datasets
     *
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getDatasetsApiDatasetsGet()
     */
    public getDatasetsApiDatasetsGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getDatasetsApiDatasetsGet(requestOptions));
    }

    private async __getDatasetsApiDatasetsGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/datasets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/datasets");
    }

    /**
     * Get list of all dataset names (keys only)
     *
     * Returns a lightweight list of dataset names without their values,
     * enabling efficient browsing and searching.
     *
     * Returns:
     *     dict: {"names": ["dataset1", "dataset2", ...]}
     *
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getDatasetNamesApiDatasetsNamesGet()
     */
    public getDatasetNamesApiDatasetsNamesGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getDatasetNamesApiDatasetsNamesGet(requestOptions));
    }

    private async __getDatasetNamesApiDatasetsNamesGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/datasets/names",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/datasets/names");
    }

    /**
     * Get values for specific datasets
     *
     * Args:
     *     names: Comma-separated list of dataset names to fetch
     *
     * Returns:
     *     dict: Requested datasets with their values
     *
     * @param {ArtiqhttpApi.GetDatasetValuesApiDatasetsValuesGetRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.getDatasetValuesApiDatasetsValuesGet({
     *         names: "names"
     *     })
     */
    public getDatasetValuesApiDatasetsValuesGet(
        request: ArtiqhttpApi.GetDatasetValuesApiDatasetsValuesGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__getDatasetValuesApiDatasetsValuesGet(request, requestOptions),
        );
    }

    private async __getDatasetValuesApiDatasetsValuesGet(
        request: ArtiqhttpApi.GetDatasetValuesApiDatasetsValuesGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { names } = request;
        const _queryParams: Record<string, unknown> = {
            names,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/datasets/values",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/datasets/values");
    }

    /**
     * Get backend health and ARTIQ connection status
     *
     * Returns:
     *     dict: Health status including ARTIQ connection state
     *
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getHealthApiHealthGet()
     */
    public getHealthApiHealthGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getHealthApiHealthGet(requestOptions));
    }

    private async __getHealthApiHealthGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/health",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/health");
    }

    /**
     * Cancel a running experiment
     *
     * Args:
     *     rid (int): RID of the experiment to cancel
     *     force (bool): If True, forcibly close the experiment instead of requesting closure
     *
     * @param {ArtiqhttpApi.CancelExperimentApiCancelPostRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cancelExperimentApiCancelPost({
     *         rid: 1
     *     })
     */
    public cancelExperimentApiCancelPost(
        request: ArtiqhttpApi.CancelExperimentApiCancelPostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__cancelExperimentApiCancelPost(request, requestOptions));
    }

    private async __cancelExperimentApiCancelPost(
        request: ArtiqhttpApi.CancelExperimentApiCancelPostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { rid, force } = request;
        const _queryParams: Record<string, unknown> = {
            rid,
            force,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/cancel",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/cancel");
    }

    /**
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.getExplistApiExplistGet()
     */
    public getExplistApiExplistGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<ArtiqhttpApi.ExperimentList> {
        return core.HttpResponsePromise.fromPromise(this.__getExplistApiExplistGet(requestOptions));
    }

    private async __getExplistApiExplistGet(
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<ArtiqhttpApi.ExperimentList>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/explist",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ArtiqhttpApi.ExperimentList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ArtiqhttpApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/explist");
    }

    /**
     * @param {ArtiqhttpApi.GetScheduleItemApiScheduleRidGetRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.getScheduleItemApiScheduleRidGet({
     *         rid: 1
     *     })
     */
    public getScheduleItemApiScheduleRidGet(
        request: ArtiqhttpApi.GetScheduleItemApiScheduleRidGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<ArtiqhttpApi.ScheduleItem> {
        return core.HttpResponsePromise.fromPromise(this.__getScheduleItemApiScheduleRidGet(request, requestOptions));
    }

    private async __getScheduleItemApiScheduleRidGet(
        request: ArtiqhttpApi.GetScheduleItemApiScheduleRidGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<ArtiqhttpApi.ScheduleItem>> {
        const { rid } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/schedule/${core.url.encodePathParam(rid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ArtiqhttpApi.ScheduleItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/schedule/{rid}");
    }

    /**
     * @param {ArtiqhttpApi.SearchExplistApiExplistSearchGetRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.searchExplistApiExplistSearchGet()
     */
    public searchExplistApiExplistSearchGet(
        request: ArtiqhttpApi.SearchExplistApiExplistSearchGetRequest = {},
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<ArtiqhttpApi.ExperimentList> {
        return core.HttpResponsePromise.fromPromise(this.__searchExplistApiExplistSearchGet(request, requestOptions));
    }

    private async __searchExplistApiExplistSearchGet(
        request: ArtiqhttpApi.SearchExplistApiExplistSearchGetRequest = {},
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<ArtiqhttpApi.ExperimentList>> {
        const { q } = request;
        const _queryParams: Record<string, unknown> = {
            q,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/explist/search",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ArtiqhttpApi.ExperimentList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/explist/search");
    }

    /**
     * @param {ArtiqhttpApi.GetExplistDefaultsApiExplistFileClassNameDefaultsGetRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.getExplistDefaultsApiExplistFileClassNameDefaultsGet({
     *         file: "file",
     *         class_name: "class_name"
     *     })
     */
    public getExplistDefaultsApiExplistFileClassNameDefaultsGet(
        request: ArtiqhttpApi.GetExplistDefaultsApiExplistFileClassNameDefaultsGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<ArtiqhttpApi.ExperimentDefaults> {
        return core.HttpResponsePromise.fromPromise(
            this.__getExplistDefaultsApiExplistFileClassNameDefaultsGet(request, requestOptions),
        );
    }

    private async __getExplistDefaultsApiExplistFileClassNameDefaultsGet(
        request: ArtiqhttpApi.GetExplistDefaultsApiExplistFileClassNameDefaultsGetRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<ArtiqhttpApi.ExperimentDefaults>> {
        const { file, class_name: className } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/explist/${core.url.encodePathParam(file)}/${core.url.encodePathParam(className)}/defaults`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ArtiqhttpApi.ExperimentDefaults, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/explist/{file}/{class_name}/defaults",
        );
    }

    /**
     * Submit an experiment and wait for it to complete.
     *
     * Args:
     *     expid: Experiment ID specification
     *     pipeline: Pipeline name (default: "main")
     *     priority: Scheduling priority (default: 0)
     *     flush: Whether to flush the pipeline (default: False)
     *     due_date: Optional due date as Unix timestamp
     *     timeout: Max seconds to wait (default: 60, max: 300)
     *
     * Returns:
     *     SubmitAndWaitResult with rid, status, and timed_out fields
     *
     * @param {ArtiqhttpApi.SubmitAndWaitApiScheduleSubmitAndWaitPostRequest} request
     * @param {ArtiqhttpApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ArtiqhttpApi.UnprocessableEntityError}
     *
     * @example
     *     await client.submitAndWaitApiScheduleSubmitAndWaitPost({
     *         body: {
     *             file: "file",
     *             class_name: "class_name"
     *         }
     *     })
     */
    public submitAndWaitApiScheduleSubmitAndWaitPost(
        request: ArtiqhttpApi.SubmitAndWaitApiScheduleSubmitAndWaitPostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): core.HttpResponsePromise<ArtiqhttpApi.SubmitAndWaitResult> {
        return core.HttpResponsePromise.fromPromise(
            this.__submitAndWaitApiScheduleSubmitAndWaitPost(request, requestOptions),
        );
    }

    private async __submitAndWaitApiScheduleSubmitAndWaitPost(
        request: ArtiqhttpApi.SubmitAndWaitApiScheduleSubmitAndWaitPostRequest,
        requestOptions?: ArtiqhttpApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<ArtiqhttpApi.SubmitAndWaitResult>> {
        const { pipeline, priority, flush, due_date: dueDate, timeout, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            pipeline,
            priority,
            flush,
            due_date: dueDate,
            timeout,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/schedule/submit-and-wait",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ArtiqhttpApi.SubmitAndWaitResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ArtiqhttpApi.UnprocessableEntityError(
                        _response.error.body as ArtiqhttpApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArtiqhttpApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/schedule/submit-and-wait",
        );
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
            },
            requestOptions,
        );
    }
}
